.clickDisplay{
    float:right;
    
  }
  .container{
    background-color:gray;
  
    text-align:center;
    
  
  
  }
  .evenNumberDisplay{
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    
  }
  
  .gridTitle{
    float:right;
  }
  .mainNumberDisplay{
  display:flexbox;
  padding: 50px;
  }
  .mainNumberDisplay
{
  display:flex;
  
}
.oddNumberDisplay{
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
 
  border-right: 1px solid black;
  margin-right: 50px;
  padding-right:50px;
 
}